wvs filter=lfs diff=lfs merge=lfs -text
model filter=lfs diff=lfs merge=lfs -text
plot filter=lfs diff=lfs merge=lfs -text
plot/rnn.csv filter=lfs diff=lfs merge=lfs -text
wvs/1600k filter=lfs diff=lfs merge=lfs -text
wvs/50k filter=lfs diff=lfs merge=lfs -text
wvs/very_clean filter=lfs diff=lfs merge=lfs -text
plot/accplot.pdf filter=lfs diff=lfs merge=lfs -text
plot/lossplot.pdf filter=lfs diff=lfs merge=lfs -text
wvs/50k/vector_big_test_1.dm filter=lfs diff=lfs merge=lfs -text
wvs/very_clean/vector_very_clean_4.dm filter=lfs diff=lfs merge=lfs -text
wvs/very_clean/vector_very_clean_2.dm filter=lfs diff=lfs merge=lfs -text
wvs/very_clean/vector_very_clean_5.dm filter=lfs diff=lfs merge=lfs -text
wvs/1600k/vector_big_test_1.dm filter=lfs diff=lfs merge=lfs -text
wvs/1600k/vector_big_test_6.dm filter=lfs diff=lfs merge=lfs -text
wvs/50k/vector_big_test_4.dm filter=lfs diff=lfs merge=lfs -text
wvs/50k/vector_big_test_6.dm filter=lfs diff=lfs merge=lfs -text
wvs/very_clean/vector_very_clean_1.dm filter=lfs diff=lfs merge=lfs -text
wvs/1600k/vector_big_test_2.dm filter=lfs diff=lfs merge=lfs -text
wvs/50k/vector_big_test_2.dm filter=lfs diff=lfs merge=lfs -text
wvs/50k/vector_big_test_3.dm filter=lfs diff=lfs merge=lfs -text
wvs/50k/vector_big_test_5.dm filter=lfs diff=lfs merge=lfs -text
wvs/very_clean/vector_very_clean_3.dm filter=lfs diff=lfs merge=lfs -text
wvs/1600k/vector_big_test_3.dm filter=lfs diff=lfs merge=lfs -text
wvs/1600k/vector_big_test_4.dm filter=lfs diff=lfs merge=lfs -text
wvs/1600k/vector_big_test_5.dm filter=lfs diff=lfs merge=lfs -text
wvs/very_clean/vector_very_clean_6.dm filter=lfs diff=lfs merge=lfs -text
*/*/*/* filter=lfs diff=lfs merge=lfs -text
